footer {
    padding: 50px;
    margin-bottom: 0;
    margin-top: 200px;
    background-color:$colorFooter;
}

.icon {
    width: 48px;
    height: 48px;
}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}